<style>
.active-page{
    border-radius: 0.2em;
    margin: 0.5em;
    background-color: white;
    color: #7971ea;
    border: 1px solid #7971ea;
  }
  
.page-default{
  border-radius: 0.2em;
  margin: 0.5em;
  background-color: #7971ea;
  color: white;
  border: 1px solid #7971ea;
} 


  .product_picture{
    margin-top: 0.3em;
    height: 20em;
    width: 15em;
    object-fit: cover;
    object-position: center;
  }

  p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

</style>
    <div class="site-wrap">
    <div class="bg-light py-3">
        <div class="container">
          <div class="row">
            <div class="col-md-12 mb-0">
              <a href="#homepage">Home</a> <span class="mx-2 mb-0">/</span>
              <strong class="text-black">Shop</strong>
            </div>
          </div>
        </div>
      </div>
      
    </div>
      <div class="site-section">
        <div class="container">
          <div class="row mb-5">
            <div class="col-md-9 order-2">
              <div id="data-load" class="row mb-5">
              
 
              </div>
              <div class="row" data-aos="fade-up">
                <div class="col-md-12 text-center">
                  <div id="pagination" class="site-block-27">
                   
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3 order-1 mb-5 mb-md-0">
              <div class="border p-4 rounded mb-4">
                <div class="col-md-12 mb-5">
                  <h2 class="text-black h5">Sort by</h2>
                
                <div class=" float-md-left d-flex">
                  <div class="dropdown mr-1 ml-md-auto">
                    <select id="sort" class="btn btn btn-secondary">
                      <option value="-name">Name ↑</option>
                      <option value="%2bname">Name ↓</option>
                      <option value="-unit_price">Price ↑</option>
                      <option value="%2bunit_price">Price ↓</option>
                      </select>
                  </div>
                </div>
              </div>
              </div>

              <div class="border p-4 rounded mb-4">
   
                <div class="mb-4">
                  <div class="col-md-12 mb-5">
                    <h2 class="text-black h5">Products per page</h2>
                  
                  <div class=" float-md-left d-flex">
                    <div class="dropdown mr-1 ml-md-auto">
                      <select id="per_page" class="btn btn btn-secondary">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        </select>
                    </div>
                  </div>
                </div>
                </div>
              </div>
           
           <input type="text" class="form-control py-4" id="product_search" placeholder="Enter product name">
           <button onclick="Shop.search_products()" type="button" class="btn" style="margin-top:1em; border-radius: 0.2em; width: 100%; background-color: #7971ea; color: white;">Refresh search</button>

            </div>
          </div>

          
        </div>
      </div>

      
    </div>

</html>

<script type="text/javascript">
  Shop.init();  
  </script>

