  <body>
    <div class="site-wrap">

      <div class="bg-light py-3">
        <div class="container">
          <div class="row">
            <div class="col-md-12 mb-0">
              <a href="index.html">Home</a> <span class="mx-2 mb-0">/</span>
              <strong class="text-black">Shop</strong>
            </div>
          </div>
        </div>
      </div>
      
    </div>
      <div class="site-section">
        <div class="container">
          <div class="row mb-5">
            <div class="col-md-9 order-2">
        
              
<div id="data-load" class="row mb-5">
              
 
</div>
              <div class="row" data-aos="fade-up">
                <div class="col-md-12 text-center">
                  <div class="site-block-27">
                    <ul>
                      <li><a href="#">&lt;</a></li>
                      <li class="active"><span>1</span></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li><a href="#">4</a></li>
                      <li><a href="#">5</a></li>
                      <li><a href="#">&gt;</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3 order-1 mb-5 mb-md-0">
              <div class="border p-4 rounded mb-4">
                <div class="col-md-12 mb-5">
                  <h2 class="text-black h5">Sort by</h2>
                
                <div class=" float-md-left d-flex">
                  <div class="dropdown mr-1 ml-md-auto">
                    <select id="sort" class="btn btn btn-secondary">
                      <option value="-name">Name ↑</option>
                      <option value="+name">Name ↓</option>
                      <option value="-unit_price">Price ↑</option>
                      <option value="+unit_price">Price ↓</option>
                      </select>
                  </div>
                </div>
              </div>
              </div>

              <div class="border p-4 rounded mb-4">
   
                <div class="mb-4">
                  <div class="col-md-12 mb-5">
                    <h2 class="text-black h5">Products per page</h2>
                  
                  <div class=" float-md-left d-flex">
                    <div class="dropdown mr-1 ml-md-auto">
                      <select id="per_page" class="btn btn btn-secondary">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        </select>
                    </div>
                  </div>
                </div>
                </div>
              </div>
           
           <input type="text" class="form-control py-4" id="product_search" placeholder="Enter product name">
           <button onclick="search()" type="button" class="btn" style="margin-top:1em; border-radius: 0.2em; width: 100%; background-color: #7971ea; color: white;">Refresh search</button>

            </div>
          </div>

          
        </div>
      </div>

      
    </div>

</html>
<script type="text/javascript">
var a;
setCartCount();
loadData();


function getElementValue(element_id){
 return document.getElementById(element_id).value
}

function getDropdownValue(i){
  var e = document.getElementById(i);
  return e.options[e.selectedIndex].value;
}

function getSizeId(i){
  var e = document.getElementById(i);
  return JSON.parse( e.options[e.selectedIndex].value);
}


function getProducts(){
    $.ajax({
        url:"api/products",
        type: "GET",
        beforeSend: function(xhr){xhr.setRequestHeader('Authorization', localStorage.getItem("token"));},
        success: function (data){
            console.log(data);}
    });
}

function htmlStock(value,name){
  var html =`"<option class="dropdown-item" value="`+value+`">`+name+`</option>"`;    
  return html;
}

function getProductStock(product_id, html_id){
    $.ajax({
        url:"api/product/avaliable_sizes/" + product_id,
        type: "GET",
        success: function (data){
          var html ="";
          for (var i = 0; i < data.length; i++){
            html += `"<option class="dropdown-item" value="`+data[i].size_id+`">`+data[i].name+`</option>"`;
          }
      $("#size"+html_id).html(html);
    }
  })
}


function inCart(product_id, size_id){

    var cart = JSON.parse(getCart());
            for(var i = 0; i < cart.length; i++){
                if(cart[i].product_id == product_id && cart[i].size_id == size_id){
                return i;           
                }
            }
    return false;
    }

function removeProduct(index){
    var storageProducts = JSON.parse(getCart());
    storageProducts.splice(index, 1);
    var products = storageProducts;
    localStorage.setItem('products', JSON.stringify(products));
    setCartCount();
}

function getQuantity(index){
    return JSON.parse(getCart())[index].quantity;
}

function getCart(){
  if (localStorage.getItem('products') == null){
    return false;
  }
  return localStorage.getItem('products'); 
}

function setCartEmpty(){
  localStorage.setItem('products','[]'); 
}

function setCartCount(){
  if(getCart() == false || JSON.parse(getCart()).length == 0 ){
      document.getElementById("count").setAttribute("hidden","true");
  }
  else{
    document.getElementById("count").innerHTML = JSON.parse(getCart()).length
    document.getElementById("count").removeAttribute("hidden");
  }
}



function addProduct(product_id, size, quantity){
    
   var size_id = getSizeId("size"+size);
    
    if(getCart() == false){
      document.getElementById("count").setAttribute("hidden","true");
      setCartEmpty();
    }

    if(inCart(product_id,size_id) !== false){
      var product_index = inCart(product_id,size_id);
      var new_quantity = getQuantity(product_index) + quantity;
      removeProduct(product_index);
      addProduct(product_id, size, new_quantity );
    
    }else{

    let products = [];
    if(localStorage.getItem('products')){
        products = JSON.parse(getCart());
    }
    products.push({product_id: product_id, size_id: size_id, quantity: quantity });
    localStorage.setItem('products', JSON.stringify(products));
    
    // change cart icon count
   
    setCartCount();
    }
  }

  function loadData(){
      $.ajax({
        url:"api/products",
        type:"GET",
        success: function(data){
          var html ="";
          for (var i = 0; i < data.length; i++){
            html += `<div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                     <div class="block-4 text-center border">
                    
                    <figure class="block-4-image">
                      <a href="shop-single.html"
                        ><img
                          src="https://www.prodirectsoccer.com/productimages/V3_1_Main/141121_Main_Thumb_0413664.jpg"
                          alt="Product image"
                          class="img-fluid"
                      /></a>
                    </figure>
                    
                    <div class="block-4-text p-4">
                      <h3><a href="shop-single.html">`+data[i].name+`</a></h3>
                      <p class="text-primary font-weight-bold">`+data[i].unit_price+` KM</p>
                      
                      
                        <select id="size`+i+`" class="btn btn btn-secondary">
                          `+getProductStock(data[i].id,i)+`
                          </select>
                            
                        <button onclick="addProduct(`+data[i].id+`,`+i+`,1)" type="button" class="btn" style="border-radius: 0.2em; margin-left: 0.5em; background-color: #7971ea; color: white;">Add to Cart</button>
                </div>
                </div>
                </div>        
                </div>`
          }

          $("#data-load").html(html);
        }
      })
    }
    

</script>

