<div class="bg-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-0">
        <a href="#homepage">Home</a> <span class="mx-2 mb-0">/</span>
        <strong class="text-black">My Orders</strong>
      </div>
    </div>
  </div>
</div>
<div class="site-section">
  <div class="container">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-12">
          <div class="site-blocks-table">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th class="product-thumbnail">Order ID</th>
                  <th class="product-name">Shipping Address</th>
                  <th class="product-price">Status</th>
                  <th class="product-price">Order date</th>
                  <th class="product-price">Order details</th>
                </tr>
              </thead>
              <tbody id="my_orders">

              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div id="order-details" hidden = "true">
      <h2 class="text-black h3">Order details</h2>
      <h2 id="order_id" class="text-black h5">Order ID: </h2><table class="table table-bordered">
        <thead>
          <tr>
            <th class="product-thumbnail">Image</th>
            <th class="product-name">Product name</th>
            <th class="product-name">Size</th>
            <th class="product-price">Price</th>
            <th class="product-quantity">Quantity</th>
            <th class="product-total">Total</th>
          </tr>
        </thead>
        <tbody id="details_table">
         
        </tbody>
      </table>
    </div>
    </div>
  </div>
</div>
</section>


<script type="text/javascript">
  UserOrders.init();  
  </script>